
    
        body{
            background-color:white;
            
        }
        #contactboxapply{
            color: black;
            text-underline-offset: none;
            }
.navbar{
    padding-top: 20px;
}
        #homeblacktext{
        color: black;
        }
        #navclass{
            background-color: white;
            border:none;
        }
        .headchange{
            width:300px;
            clear: left;
            margin: none;
        }
    